.box {
    border-radius: 20px;
    min-height: 400px;
    margin: 100px 50px;
    background-image: linear-gradient(to top, rgb(59, 130, 246), rgb(37, 99, 235));
    width: 80%;

}

.box:hover {
    box-shadow: 8px 8px #888888;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.box h3 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

.diagram{
    width: 100%;
    text-align: center;
}

.diagram img{
    width: 95%;
    border-radius: 10px;
}

li {
    color: white;
    text-align: left !important;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aws {
    background-image: url(../aws_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    min-height: 350px;
    margin: 100px 0px;
    width: 300px;
    animation: breathing 1s ease-out infinite normal;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.title {
    text-align: center;
}

.tab-content {
    text-align: center;
}

.tab-content h4 {
    color: red;
}

.team-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team-box{
    width: 150px;
    height: 150px;
    border: 8px solid #ff9901;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
.team-box:hover{
    cursor: pointer;
    animation: breathing 3s ease-out infinite normal;
}
.team-box img{
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.team-box .name{
    margin-top: 10px;
}
.line{
    width: 100px;
    border: 2px solid black;
    height: 0;
}
.aws-txt{
    color: #ff9901;
    font-weight: bold;
    font-style: italic;
}